.desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 100%;
  overflow: hidden;
  margin: 1rem;
  gap: 1rem;
  color: #fff;
}

.icon {
  text-align: center;
  color: #fff;
  font-family: "Arial", sans-serif;
  a {
    text-decoration: none;
  }
}

.icon img {
  width: 64px; /* Tamanho dos ícones */
  height: 64px;
  border-radius: 4px; /* Borda arredondada */
  margin-bottom: 5px; /* Espaçamento entre a imagem e o texto */
}

.icon span {
  display: block;
  font-size: 14px; /* Tamanho do texto */
  color: #000; /* Cor do texto */
}
