.bg_heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-weight: 600;
  text-align: center;
  color: white;
  z-index: 0;
  position: relative;
}

.heart {
  position: absolute;
  top: -100%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  z-index: 1;
}

.heart:before,
.heart:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: 100%;
}

.heart:before {
  top: -50%;
  left: 0;
}

.heart:after {
  top: 0;
  right: -50%;
}

@keyframes love {
  0% {
    top: 110%;
  }
  100% {
    top: -100%;
    opacity: 0;
  }
}

@-webkit-keyframes love {
  0% {
    top: 110%;
  }
  100% {
    top: -100%;
    opacity: 0;
  }
}

@-moz-keyframes love {
  0% {
    top: 110%;
  }
  100% {
    top: -100%;
    opacity: 0;
  }
}

@-ms-keyframes love {
  0% {
    top: 110%;
  }
  100% {
    top: -10%;
    opacity: 0;
  }
}

.text {
  position: relative;
  font-size: 24px;
  min-width: 1200px;
  align-self: center;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  z-index: 2;
}

@media (max-width: 768px) {
  .text {
    font-size: 18px;
    padding: 0 2rem;
    line-height: 1.2;
  
  }
  .bg_heart {
    width: 90% !important;
    margin: auto;
    overflow: hidden;

  }
}
